<h1>OSM Sample</h1>
<button (click)="onClick()">Get Current Location</button>

<div class="container">
    <div class="content">
        <div id="map" ></div>
    </div>
    <div class="input-container">
        <input type="text" [(ngModel)]="display_name" placeholder="Location">
        <div class="auto-search-wrapper">
            <input 
            type="text"
            autocomplete="off"
            id="search"
            class="full-width"
            placeholder="autocomplete"/>
        </div>
    </div>
    <div *ngIf="data">
        <p>{{ data.display_name }}</p>
      </div>
  </div>